/*
 * Write your custom CSS here
 */

.profile-section {
	padding-top: 5%;
	display: flex;
	gap: 50px;
	color: aliceblue;
}

img.profile {
	border-radius: 50%;
}

img.profile:hover {
	border-radius: 10%;
	display: none;
}

.a {
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	padding: auto;
	text-align: center;
	background-color: rgba(117, 117, 117, 0.223);
	border-radius: 5%;
}